body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    display: flex;

    .sidebar {
      flex: 1;
      max-width: 20%;

      ul {
        list-style: none;

        li {
          margin-bottom: 12px;
        }
      }
    }

    .content {
      flex: 1;
      background: #fcfcfc;
    }
  }
}

.header {
  padding: 8px 12px;
  background: #256eff;

  &__nav {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
}

.footer {
  background: #46237a;
  padding: 16px;
  display: flex;
  flex-direction: column;

  .footer__links {
  }

  .footer__info {
    color: #fff;
    font-weight: 100;
    display: flex;
    justify-content: center;
  }
}

.navLink {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 4px 0;

  &.--active {
    font-weight: 600;
  }
}
